#include "../../../include/lsqsh_pinctrl_pfr_tpm.dtsi"

/ {
    aliases {
        spif = &spif2;
    };
};

&spif1 {
    status = "okay";
};

&spif2 {
    status = "okay";
};

&spif3 {
    status = "okay";
};

&spif4 {
    status = "okay";
};
