#include "lsqsh_pinctrl_pfr_tpm.dtsi"

/ {
    aliases {
        spif = &spif3;
    };
};

&spif1 {
    status = "okay";
};

&spif2 {
    status = "okay";
};

&spif3 {
    status = "okay";
};

&spif4 {
    status = "okay";
};

&spi3 {
    cs-gpios = <&gpioi 8 GPIO_ACTIVE_LOW>,
                <&gpiog 2 GPIO_ACTIVE_LOW>;
    status = "okay";
};

&spi4 {
    cs-gpios = <&gpioi 0 GPIO_ACTIVE_LOW>,
                <&gpioq 0 GPIO_ACTIVE_LOW>;
    status = "okay";
};

&dmac1 {
    status = "okay";
};
