# Copyright (c) 2024 linkedsemi
# SPDX-License-Identifier: Apache-2.0

config SPI_FILTER_LINKEDSEMI
    bool "spi filter"
    default y
    depends on DT_HAS_LINKEDSEMI_SPI_FILTER_ENABLED
    depends on SPI
    depends on DMA
    help
      SPI_FILTER_LINKEDSEMI

config SPI_FILTER_LINKEDSEMI_SHELL
    bool "spi filter"
    default y
    depends on DT_HAS_LINKEDSEMI_SPI_FILTER_ENABLED && SHELL
    help
      SPI_FILTER_LINKEDSEMI_SHELL
