# Copyright (c) 2024 linkedsemi
# SPDX-License-Identifier: Apache-2.0

config SPI_FILTER_LINKEDSEMI
    bool "spi filter"
    default y
    depends on DT_HAS_LINKEDSEMI_SPI_FILTER_ENABLED
    select SPI
    select DMA
    help
      SPI_FILTER_LINKEDSEMI

config SPI_FILTER_LINKEDSEMI_SHELL
    bool "spi filter"
    default y
    depends on DT_HAS_LINKEDSEMI_SPI_FILTER_ENABLED && SHELL
    help
      SPI_FILTER_LINKEDSEMI_SHELL

config SPI_FILTER_ADDR_WHITELIST_BUF
    bool "SPI_FILTER_ADDR_WHITELIST_BUF"
    default y
    help
      SPI_FILTER_ADDR_WHITELIST_BUF

config SPIM_NAME
    bool "SPIM_NAME"
    default n
    help
      SPIM_NAME

config SPI_FILTER_INTERRUPT_LOG
    bool "SPI_FILTER_INTERRUPT_LOG"
    default y
    help
      SPI_FILTER_INTERRUPT_LOG

config SPI_FILTER_DMA_LOG
    bool "SPI_FILTER_DMA_LOG"
    default y
    help
      SPI_FILTER_DMA_LOG

config SPI_FILTER_DMA_LOG_SIZE
    int "SPI_FILTER_DMA_LOG_SIZE"
    default 8188
    range 32 8188
    help
      SPI_FILTER_DMA_LOG_SIZE
