# Copyright (c) 2024 linkedsemi
# SPDX-License-Identifier: Apache-2.0

config PFR_TPM_LINKER_LD
    bool "pfr_tpm project default linker.ld"
    default y
    depends on SPI_FILTER_LINKEDSEMI

rsource "Kconfig.i2cfilter"
rsource "Kconfig.spifilter"
rsource "Kconfig.spid"
