#include "../../../include/lsqsh_pinctrl_pfr_tpm.dtsi"

/ {
    aliases {
        i2cfilter = &i2cf1;
        i2cmaster1 = &i2c3;
    };
};

&i2cf1 {
    status = "okay";
};

&i2cf2 {
    status = "okay";
};

&i2cf3 {
    status = "okay";
};

&i2cf4 {
    status = "okay";
};
