#include "../../../include/lsqsh_pinctrl_pfr_tpm.dtsi"

/ {
    aliases {
        i2cfilter = &i2cf1;
        i2cmaster = &i2c1;
    };
};

&i2cf1 {
    status = "okay";
};

&i2cf2 {
    status = "okay";
};

&i2cf3 {
    status = "okay";
};

&i2cf4 {
    status = "okay";
};

&i2c1 {
    /delete-property/ pinctrl-0;
    /delete-property/ pinctrl-names;
    status = "okay";
};

&i2c2 {
    /delete-property/ pinctrl-0;
    /delete-property/ pinctrl-names;
    status = "okay";
};

&i2c3 {
    /delete-property/ pinctrl-0;
    /delete-property/ pinctrl-names;
    status = "okay";
};

&i2c4 {
    /delete-property/ pinctrl-0;
    /delete-property/ pinctrl-names;
    status = "okay";
};
