#include "lsqsh_pinctrl_pfr_tpm.dtsi"

/ {
    aliases {
        i2cmaster1 = &i2c5;
        i2cmaster2 = &i2c6;
        i2cfilter = &i2cf4;
        i2ceepromlocal = &eeprom5_1;
        i2ceepromremote = &eeprom6_1;
    };
};

// &i2cf1 {
//     status = "okay";
// };
//
// &i2cf2 {
//     status = "okay";
// };
//
// &i2cf3 {
//     status = "okay";
// };

&i2cf4 {
    status = "okay";
};

// &i2c1 {
//     status = "okay";
// };
//
// &i2c2 {
//     status = "okay";
// };
//
// &i2c3 {
//     status = "okay";
// };

&i2c4 {
    status = "okay";
};

&i2c5 {
    status = "okay";

    eeprom5_1: eeprom@55 {
        compatible = "zephyr,i2c-target-eeprom";
        reg = <0x55>;
        size = <256>;
        status = "okay";
    };
};

&i2c6 {
    status = "okay";

    eeprom6_1: eeprom@66 {
        compatible = "zephyr,i2c-target-eeprom";
        reg = <0x66>;
        size = <256>;
        status = "okay";
    };
};
